/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "home";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$theme-colors: (
"primary": #ffffff,
"danger": #fefefe
);


@media (min-width: 756px) {
  body {
    padding-top: 56px;
    padding-bottom: 200px;
    background-color: #f4f4f4;
  }
  #logo_small {
    display: none;
  }
  #logo {
    display: block;
  }
}

@media (max-width: 756px) {
  body {
    padding-top: 56px;
    background-color: #f4f4f4;
  }
  #logo_small {
    display: block;
  }
  #logo {
    display: none;
  }

  .logistic {
    padding-right: 0;
    padding-left: 0;
  }
}

#map {
  height: 100%;
  width: 100%;
  min-height: 400px;
}

#logo {
  padding-right: 10px;
  color: white;
}

#logo_small {
  color: white;
}

svg {
  height: 3em;
}

#campus{
  width: 95%;
  height: 80%;
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 54px;
}

::-webkit-scrollbar {
  display: none;
}

#route_info {
  overflow: scroll;
  height: 500px;
}

.div-test {
  border: 1px solid black;
}

.overflow {
  overflow-wrap: break-spaces;
}

.select-button {
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.background-daisy {
  background-color: #f4f4f4;
}

.border-bunn {
  border-bottom: 1px solid #f0f0f0;
}

.border-bunnGrey {
  border-bottom: 1px solid #c1c1c1;
}

.background_grey {
  background-color: #f4f4f4;
}

.background_darkBlue {
  background-color: #123f59;
}

.background_blue {
  background-color: #4f5f82;
}

.background_lightGrey {
  background-color: #fcfcfc;
}

.background_travelGrey {
  background-color: #eff1f7;
}

.background_travelGreyTop {
  background-color: #e3e5ed;
}