// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------//

#campus_banner {
  width: 100%;
  min-height: 30%;
  position: fixed;
  filter: brightness(0.7);
  transform: scale(1.35);
}

#main_bannner {
  width: 100%;
  min-height: 30%;
  position: fixed;
  filter: brightness(0.7);
  transform: scale(0.9);
}

@media (min-width: 756px){
  #banner{
    height:75%;
  }
  #mainBanner{
    height: 85%;
  }

  #banner_text{
    top:65%;
  }
  .text-full-height {
    font-size: 5vw;
  }
}

@media (max-width: 756px){
  #banner{
    height:35%;
  }

  #banner_text {
    top: 35%;
  }
  .text-full-height {
    font-size: 50px;
  }
}

#klasse_tittel {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  font-family: Helvetica;
  font-weight: bold;
}

#campus_tittel {
  z-index: 100;
  position: absolute;
  color: white;
  top: 1.3rem;
  font-size: 3rem;
  font-family: Helvetica;
  font-weight: bolder;
}

li {
  color: white;
  opacity: 0.9;
}

.button {
  border: none;
  background-color: #984843;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-align: left;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.skew {
  text-align: center;
  background-color: buttonface;
  border-left: black 1px solid;
  border-right: black 1px solid;
}

#from-to {
  //border-top: black 1px dashed;
  //border-bottom: black 1px solid;
  color: #232323;
}

#from-to:hover {
  color: #fefefe;
}

#from-to:target {
  background-color: black !important;
}
#travel_campus {
  //border-bottom: black 1px dashed;
  //border-top: black 1px solid;
  color: #232323;
}

#travel_campus:hover {
  color: #fefefe;
}

#route-card:hover {
  background-color: buttonface;
}

.details {
  position: absolute;
  bottom: -25px;
  left: 0px;
}

.outline-gold-hover:hover {
  background-color: #5a6887;
}

.border-red {
  border: #984843;
}

.text-size-large {
  font-size: 1.5rem;
}

.select-text-size {
  font-size: 1.1rem !important;
}

.travel_route {
  color: #232323;
}

.travel_route:hover {
  color: #fefefe;
}

.outline-grey:hover {
  background-color: #eaeaea;
}

.full-height {
  height: 100%;
}

.butikker {
  cursor: pointer;
  text-decoration: underline;
}

.butikker:hover {
  color: #ededed;
}